body {
  background-color: aqua;
  font-family: 'Amatic SC', cursive;
}
#title-page {
  text-align: center;
  margin-top: 200px;
}
#title-heading {
  font-size: 100px;
  margin-bottom: 30px;
}
#title-button {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  border-radius: 10px;
  border: 1px grey dotted;
  background-color: white;
}
.player-input {
  font-size: 25px;
  margin-bottom: 30px;
}
#p01-input {
  margin-right: 20px;
}
#p02-input {
  margin-left: 20px;
}
#how-box {
  text-align: center;
}
#how {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  background-color: tomato;
  border-radius: 10px;
  border: 1px grey dotted;
}
#instructions {
  font-size: 30px;
  text-align: center;
  list-style-position:inside
}
#instructions ol {
  padding-left: 0;
}
